.btn {
    padding: 5px 15px;
    color: rgb(29, 29, 29);
    background-color: none;
    max-width: 150px;
    border: 1px;
    border-color: rgb(255, 47, 130);
    margin: 5px 15px;
    cursor: pointer;  
    
  
    &:hover{
      box-shadow: 0px 4px 5px #d7d7db;
    }
  }
  
