.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-top: 40px;
    margin-right: 60px; 
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgb(71, 47, 47);
    border-width: 5px;
    outline: none; /* Esto elimina el contorno cuando el input está enfocado */
    background-color:rgb(241, 241, 239);
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }

.searcher{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 80px;
}

