  .tab-content-estudio{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
  }



  .sp1{
    font-size: 14px;
    text-align: justify ;
    font-weight:550;

  }

  .sp2{
    font-size: 14px;
    text-align: justify ;

  }


  .part1{
    display: flex;
    flex-direction: column;

  }

  .spt{
    font-size: 15px;
    margin: 0px 80px;
    font-weight: bold;
    margin-bottom: 10px;
  }



.linea-separativa {
    width: 90%;
    border-bottom: 2px solid #ccc; 
    margin-top: 20px; 
  }

  .linea{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }