.encabezado {
    width: 100%;
}

.fondo{
    width: 100%;
    height: 800px;
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay-text {
    font-family: 'quicksand';
    position: absolute;
    color: rgb(54, 54, 54); /* Ajusta según sea necesario */
    font-size: 30px; /* Ajusta según sea necesario */
    z-index: 1; /* Asegura que el texto esté sobre la imagen de fondo */
    margin: 0px 500px;
    text-align: justify;
    background-color: rgba(241, 241, 241, 0.4);
    font-weight: bolder;
    padding: 50px;
    border-radius: 50px;
  }
  

  .section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: 700px; /* Cambié 100vh a auto para que se ajuste al contenido */
    justify-content: flex-start; /* Cambié flex-start a center para centrar los elementos */
  }

.s1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    width: 100vh;
}


.slick-slider {
    width: 700px;
  }

  .sliderimg{
    height: 350px;
    margin: 60px;
    padding: 60px;
  }



  .ts1 {
    font-size: 40px;
    margin-right: 50px;
    font-family: 'Quicksand';
}

.proyectos{
    font-size: 20px;
    max-width: 500px;
    font-family: 'Quicksand';
}

.content2 {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(198, 187, 194);
  }

  .phrase{
    font-size: 80px;
    font-family: 'quicksand';
    width: 900px;
    margin-right: 50px;
  }

  .idea{
    width: 500px;
  }

  .titlepromenade{
    position: absolute;
    /* background-color: rgb(253, 253, 253, 0.8); */
    padding: 20px;
    border-radius: 50px;
    color: aliceblue;
    z-index: 2; /* Set a higher z-index for the title */
    font-family: 'Aboreto';
    font-weight: bolder;
    font-size: 150px;

}

.titlepromenade2{
  position: absolute;
  margin-top: 200px;
  /* background-color: rgb(253, 253, 253, 0.8); */
  padding: 20px;
  border-radius: 50px;
  color: aliceblue;
  z-index: 2; /* Set a higher z-index for the title */
  font-family: 'Aboreto';
  font-weight: bolder;
  font-size: 40px;

}