.titleproyectos2{
    position: absolute;
    /* background-color: rgb(253, 253, 253, 0.8); */
    padding: 20px;
    border-radius: 50px;
    color: aliceblue;
    z-index: 2;
    font-family: 'Quicksand';
    font-weight: bolder;

}





.obras2{
    display: flex;
    justify-content: center;
    align-items: center;

}

.projects{
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    min-height: 100vh;
    justify-content: space-around;
    
}